{% extends 'base.html' %}

{% block content %}
<h1>Members</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Membership Type</th>
    </tr>
    {% for member in members %}
    <tr>
        <td><a href="/members/{{ member.id }}">{{ member.full_name() }} </a></td>
        <td> {{ member.membership_type }} </td>
        <td>
            <form action="members/{{ member.id }}/edit">
                <input type="submit" value="Edit"/>
            </form>
            <form action="/members/{{ member.id }}/delete" method="POST">
                <input class="btn btn--danger" type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
{% endfor %}
</table>

<nav>
    <ul>
        <li><a href="/members/new">Add new member</a></li>
    </ul>
</nav>
{% endblock %}
