{% extends 'base.html' %}

{% block content %}
<h2>Bookings</h2>

{% for booking in bookings %}
    <section>
        <p><a href="/bookings/{{ booking.id }}">{{ booking.member.full_name() }} - {{ booking.activity.name }},  {{ booking.activity.category }}</a></p>
        <p>Venue: {{ booking.activity.venue }}</p>
        <form action="/bookings/{{ booking.id }}/edit" method="POST">
            <input type="submit" value="Edit"/>
        <form action="/bookings/{{ booking.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="Delete"/>
        </form>
    </section>  
{% endfor %}
<nav>
    <ul>
        <li><a href="/bookings/new">Add new booking</a>
        </li>
    </ul>
</nav>
{% endblock %}