body {
    background: url('/static/images/Renfri&Geralt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}


div {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5 ,h6, p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
    color:rgb(32, 31, 26);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);
}

.blocks {
    border: 2px solid;
    border-color:rgb(44, 41, 38);
    margin: 3px;
    width: 250px;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

ul.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

p {
    color: rgb(32, 31, 26);
}


footer {
    background: rgba(255, 248, 234, 0.4);
    display: flex;
    justify-content: flex-start;
    
}

ul {
    list-style-type: none;
    color: rgb(32, 31, 26);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3px;
    padding: 5px;

}

nav {
    color: rgb(32, 31, 26);
    padding: 3px;
    margin: 0px;
    background: rgba(255, 248, 234, 0.4);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);
}

nav.header {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

nav ul li {
    text-transform: uppercase;
    margin: 3px;
}

table {
    color: rgb(32, 31, 26);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);

}
main {
    padding: 25px;
}

.control {
    border: 3px solid;
    border-color:rgb(44, 41, 38);
    margin: 2px;
    padding: 4px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:link, a:visited, a:hover, a:focus, a:active{
    color:rgb(32, 31, 26);
    text-decoration: none;
    font-weight: bolder;
  }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--row {
    flex-direction: row;
}

#content {
    padding: 15px;
    background: rgba(255, 248, 234, 0.4);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}