body {
    background: url('/static/images/Renfri&Geralt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-size: contain; */
    display: flex;
}


h1, h2, h3, h4, h5 ,h6, p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
    color:rgb(32, 31, 26);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);
}

p {
    color: rgb(32, 31, 26);
}

nav {
    color: rgb(32, 31, 26);
    padding: 25px;
    margin: 0px;
    padding-right: 25 px;
    background: rgba(255, 248, 234, 0.4);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);
}

menu.li {
    padding: 10px;
}

footer {
    background: rgba(255, 248, 234, 0.4);
    display: flex;
    justify-content: flex-start;

}

ul {
    list-style-type: none;
    color: rgb(32, 31, 26);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);
    flex-flow: row;

}

nav ul li {
    text-transform: uppercase;
}

table {
    color: rgb(32, 31, 26);
    text-shadow: 1px 1px 3px rgb(44, 41, 38);

}
main {
    padding: 25px
}
a:link, a:visited, a:hover, a:focus, a:active{
    color:rgb(32, 31, 26);
    text-decoration: none;
    font-weight: bolder;
  }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--row {
    flex-direction: row;
}

#content {
    border: 1px solid #254E70;
    padding: 15px;
    background: rgba(255, 248, 234, 0.4);

}