{% extends 'base.html' %}

{% block content %}

<h3>Edit {{ activity.name }}</h3>

<form action="/activities/{{ activity.id }}" method="POST">
    <div>
        <label for="name">Activity Name:</label>
        <input type="text" id="name" name="name" value="{{ activity.name }}">
        <label for="venue">Venue:</label>
        <input type="text" id="venue" name="venue" value="{{ activity.venue }}">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ activity.category }}">
        <label for="capacity">Capacity:</label>
        <input type="text" id="capacity" name="capacity" value="{{ activity.capacity }}">
        <label for="finished">Future / Past Event</label>
        <select name="finished" id="offpeak">
            <option value=False>Future</option>
            <option value=True>Past</option>
        </select>
        <label for="offpeak">Offpeak / Peak</label>
        <select name="offpeak" id="offpeak">
            <option value=True>Offpeak</option>
            <option value=False>Peak</option>
        <input type="submit">
    </div>
</form>

{% endblock %}