{% extends 'base.html' %}

{% block content %}
<h1>Activities</h1>

<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Category</th>
        <th></th>
        <th>Venue</th>
        <th></th>
        <th>Finished?</th>
    </tr>
    {% for activity in activities %}
    <tr>
        <td><a href="/activities/{{ activity.id }}"> {{ activity.name }} </a></td>
        <td>|</td>
        <td>{{ activity.category }}</td>
        <td>|</td>
        <td>{{ activity.venue }}</td>
        <td></td>
        <td>{{ activity.finished }}</td>
        <td>
            <!-- <a href="activities/{{ activity.id }}/edit"></a> -->
            <form action="activities/{{ activity.id }}/edit">
                <input type="submit" value="Edit"/>
            </form>
            <form action="/activities/{{ activity.id }}/delete" method="POST">
                <input class="btn btn--danger" type="submit" value="Delete"/>
            </form>
        </td>
    {% endfor %}
</table>

<nav>
    <ul>
        <li><a href="activities/new">Add new activity</a></li>
    </ul>
</nav>
{% endblock %}
