{% extends 'base.html' %}
{% block content %}

<h2> Add new activity</h2>

<form action="/activities" method="POST">
    <div>
        <label for="name">Activity Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="venue">Venue:</label>
        <input type="text" id="venue" name="venue">
    </div>
    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category">
    </div>
    <div>
        <label for="finished">Is this activity in the future?</label> <!-- CHANGE THAT!-->
        <input type="checkbox" name="finished" id="finished" value="False">
    </div>
    <div>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}