{% extends 'base.html' %}

{% block content %}
<h2> Upcoming activities</h2>
<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Venue</th>
        <th></th>
        <th>Category</th>
        <th></th>
        <th>Capacity</th>
        <th></th>
        <th>Finished?</th>
    </tr>
    {% for activity in upcoming %}
    <tr>
        <td><a href="/activities/{{ activity.id }}"> {{ activity.name }} </a></td>
        <td></td>
        <td>{{ activity.venue }}</td>
        <td></td>
        <td>{{ activity.category }}</td>
        <td></td>
        <td>{{ activity.capacity }}</td>
        <td></td>
        <td>{{ activity.finished }}</td>
        <td>
            <form action="activities/{{ activity.id }}/edit">
                <input type="submit" value="Edit"/>
            </form>
            <form action="/activities/{{ activity.id }}/delete" method="POST">
                <input class="btn btn--danger" type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
