<!DOCTYPE html>
<html>
    
    <head>
        <title> The Continent Gym</title>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    </head>
    <body>
        <nav class="header">
            <ul>
                <li><a href="/">Home</a></li>
                <li> 
                    <a href="/bookings">Bookings</a>
                </li>
                <li>
                    <a href="/members">Members</a>
                </li>
                <li>
                    <a href="/activities">Activities</a>
                </li>
            </ul>
        </nav>
        <main class="flex flex--row">
            <section id="content">
            {% block content %}
            {% endblock %}
            </section>
            <br>
        </main>
    </body>
</html>
