<!DOCTYPE html>
<html>
    <head>
        <title> Gym Bookings</title>
        <link href="https://fonts.google.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

    </head>
    <body>
        <main>
            <nav>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li>
                        <a href="/bookings">Bookings</a>
                    </li>
                    <li>
                        <a href="/members">Members</a>
                    </li>
                    <li>
                        <a href="/activities">Activities</a>
                    </li>
                </ul>
            </nav>
            <section id="content">
            {% block content %}

            {% endblock %}
            </section>
        </main>
    </body>
</html>